

/* Responsive Design */
@media (max-width: 768px) {
    
    #header {
        display: none;
        transition: left 1s ease;
    }

    #hero{
        width: 100vw;
        z-index: 999;
        margin-left: 0;
        margin-right: 0;
    }
    #main-content{
        width: 100vw ;
        margin-left: 0;
    }
    #footer {
        position: relative;
    }




    #top-nav {
        background-color: black;
        height: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    
    /* Base styles */
    .hamburger-menu {
        width: 50px; /* Adjust width as needed */
        height: 50px; /* Square for better responsiveness */
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease-in-out;
    }
    
    .bar {
        position: absolute;
        left: 50%;
        width: 70%;
        height: 5px; /* Adjust bar thickness */
        background-color: #f4f3f3; /* Adjust base color (think SHIELD tech) */
        border-radius: 6px;
        margin-bottom: 20px;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: background-color 0.9s ease-in-out, transform 0.3s ease-in-out;
    }
    .bar:nth-child(1){
        margin-top: 0px;
    }
    .bar:nth-child(2){
        margin-top: 10px;
    }
    .bar:nth-child(3){
        margin-top: 20px;
    }
    
    /* Hover effects for an "arc reactor" transformation */
    .hamburger-menu:hover {
        transform: scale(.7); /* Slight zoom-in on hover */
    }
    
    .hamburger-menu:hover .bar:nth-child(1) { /* Top bar */
        background-color: #007bff; 
        transform: translate(50%, -50%) rotate(-60deg); /* Rotates to form top right diagonal */
    }
    
    .hamburger-menu:hover .bar:nth-child(2) { /* Middle bar */
        background-color: #cb0000; /* Red for Iron Man's arc reactor */
        opacity: 0.5; 
        transform: translate(0% ,-50%) rotate(60deg);/* Hide middle bar on hover */
    }
    
    .hamburger-menu:hover .bar:nth-child(3) { /* Bottom bar */
        background-color: #f0ad4e; /* Yellow for Thor's hammer */
        transform: translate(-50%, -50%) rotate(-60deg); /* Rotates to form bottom left diagonal */
    }

    .top-nav-content{
        display: flex; 
        flex-direction: row-reverse;
        top: 0;
    }
    

    @keyframes flowAnimation {
        0% {
          border-width: 4px;
          border-color: #9b59b6;
        }
        50% {
          border-width: 4px;
          border-color: #ffb6c1;
        }
        100% {
          border-width: 4px;
          border-color: #a2cffe;
        }
      }

    #image-container1{
        display: inline-block;
        padding: 1px; /* Minimum margin around the image */
        border-radius: 50%;
        overflow: hidden;
        height: 35px;
        width: 35px;
        margin-top: 2.5px;
        margin-left: 2.5px;
        margin-right: 3px;
        animation: flowAnimation 2s infinite alternate;
      }
      
      .logo-image{
        display: block;
        height: auto;
        
      }

      .top-nav-content h1 {
        font-size: 14px;
        padding-right: 5px;
        font-family: "Poppins", sans-serif;
      }
      
      .top-nav-content h1 a{
        color: #643838;
        text-decoration: none;
      }
      
      .top-nav-content h1 a:hover {
        color: #361089;
        text-decoration: none;
      }


      #footer{
        position: relative;
        width: 100%;
        background-color: #72706e;
        height: 10vh;
      }
      .footer-container{
        justify-content: center;
      }
}




.top-nav-content{
  height: 0px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


